doctype html
link(rel='stylesheet' href='bmi.css')

head
  link(rel='stylesheet' href='bmi.css')
  link(rel='stylesheet' href='bmi.css')
  link(href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title BMI checker
.header
  .wrapper
    form(action='/' method='post') 
      h1 BMI calculator
      p Insert Your Age
      input#age(type='text')
      p Insert Weight in Kg
      input#weight(type='text')
      br
      p Insert Height in cm
      input#height(type='text') 
      br
      button#calc check
      p#result #{result}
